Package: le
Version: 0.4.25
Architecture: all
Maintainer: Viliam Holub <vilda@logentries.com>
Installed-Size: 28
Section: admin
Priority: extra
Homepage: https://logentries.com/
Description: Logentries agent
  A command line utility for a convenient access to logentries logging
  infrastructure.
