Source: logentries
Section: admin
Priority: extra
Maintainer: Viliam Holub <vilda@logentries.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), python-support, python (>= 2.6)
Homepage: https://logentries.com/

Package: logentries
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson
Description: Agent for logentries.com
 A command line utility for a convenient access to logentries logging
 infrastructure.
