Source: logentries
Section: admin
Priority: extra
Maintainer: Viliam Holub <vilda@logentries.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), python-support, python (>= 2.6)
Homepage: https://logentries.com/

Package: logentries
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson, ca-certificates
Description: Agent for logentries.com
 Logentries is a log management and analysis service (https://logentries.com/).
 This package provides a command line utility for a convenient access to
 Logentries logging infrastructure.
