#!/usr/bin/make -f
# -*- makefile -*-

override_dh_auto_install:
	python setup.py install --root=debian/logentries --install-layout=deb --install-lib=/usr/share/logentries --install-scripts=/usr/share/logentries

%:
	dh $@ --with python2

override_dh_auto_test:
	cd test ; [ ! -d env ] && virtualenv env && pip install -r requirements.pip ; ./tests.sh
